:root {
  --branding-color: #e6dd3b;
  --secondary-color: #f8f9fa;
  --heading-font-family: "Domine", serif;
  --default-font-family: "Work Sans", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background: #f8f9fa;
}

.navbar-brand {
  font-family: var(--heading-font-family);
}

.nav-link {
  font-family: var(--default-font-family);
}

.navbar-nav {
  margin-left: auto;
}


.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.4s ease-in-out left;
  -moz-transition: 0.4s ease-in-out left;
  -o-transition: 0.4s ease-in-out left;
  transition: 0.4s ease-in-out left;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 56px;
  line-height: 58px !important;
}

span {
  font-weight: bold;
}

.topgun {
  font-style: italic;
}

h2,
p {
  font-family: var(--default-font-family);
}

h2 {
  font-size: 42px;
}

h4 {
  font-size: 48px;
  font-family: var(--heading-font-family);
}

p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

img {
  box-shadow: var(--box-shadow);
  height: auto;
  max-width: 100%;
  display: block;
}

.framing {
  max-width: 400px;
  max-height: 300px;
  padding-top: 26px;
}

.hero-unit {
  background: url("images/creative-agency-widescreen.jpg");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;

  height: 100vh;
}

.hero-secondary {
  background: url("images/programmer-working-widescreen.jpg");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;

  backdrop-filter: blur(8px);
  height: 100vh;
}

.text-background {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  height: 360px;
  padding-top: 20px;
  margin-top: 40px;
}

.text-box {
  margin-top: 40px;
}

.hero-container {
  display: flex;
  justify-content: center;
}

.hero {
  background-color: #e6dd3b;

  height: 490px; /* You must set a specified height */
  width: 1200px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-radius: 5px;
  text-align: center;
}

.hero p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

#cta {
  margin-top: 40px;
  font-family: var(--heading-font-family);
  font-size: 32px;
  line-height: 42px;
}

.card-img-top {
  max-width: 90px;
  justify-content: center;
}

.our-services {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0;
  font-family: var(--default-font-family);
}

.service-section {
  padding: 60px 20px;
}

.service-section h1 {
  font-size: 60px;
  line-height: 80px;
}

.service-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.about-section {
  padding: 60px 20px;
}

.about-section h1 {
  font-size: 60px;
  line-height: 80px;
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.about-content {
  margin: 30px;
}

.about-content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0;
  font-family: var(--default-font-family);
}

#arrow {
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 5px 14px;
  font-size: 32px;
}

#profilecontainer {
  padding-top: 45px;
}

#profilepic {
  max-width: 600px;
  margin: auto;
}

.work-title {
  padding: 0 25px 25px 25px;
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 80px;
  text-align: center;
}

.btn-branding {
  background: linear-gradient(
    90deg,
    rgb(244, 213, 4) 0%,
    rgb(41, 187, 137) 100%
  );
  border-radius: 4px;
  color: #151515;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--primary-color);
  margin-left: 20px;
  margin-right: 20px;
}

.btn-branding-outline {
  background: linear-gradient(
    290deg,
    rgb(244, 213, 4) 0%,
    rgb(41, 187, 137) 100%
  );
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--primary-color);
}

.company-brands {
  max-height: 180px;
  max-width: 100%;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  text-align: center;
  margin: auto;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

i {
  margin-left: 36px;
  margin-right: 36px;
}

.col-xxl-8 {
  width: 80%;
}

.project-description p,
h2 {
  max-width: 100%;
  display: block;
}
.project-description h2 {
  font-family: var(--heading-font-family);
}

.slide-size img {
  max-height: 300px;
  max-width: 400px; /* input your desired height here */
}

@media (max-width: 980px) {
  .project-description {
    padding: 0;
    text-align: center;
  }

  .about-section {
    padding: 0;
    text-align: center;
  }
  .btn {
    font-size: 12px;
    line-height: 15px;
    padding: 10px 20px;
  }

  h4 {
    font-size: 26px;
  }
  .about-content h1 {
    font-size: 38px;
  }
}
@media (max-width: 768px) {
  .btn,
  .btn-group {
    width: 25%;
    margin: auto;
  }
}
@media (max-width: 700px) {
  h2,
  h3 {
    font-size: 20px !important;
  }

  h4 {
    font-size: 22px;
  }

  h1 {
    font-size: 38px;
  }
}
