/* Branding Settings */
:root {
  --branding-color: #e6dd3b;
  --secondary-color: #f8f9fa;
  --heading-font-family: "Domine", serif;
  --default-font-family: "Work Sans", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background: #f8f9fa;
}

.btn-branding {
  background: linear-gradient(
    90deg,
    rgb(244, 213, 4) 0%,
    rgb(41, 187, 137) 100%
  );
  border-radius: 33px;
  color: #151515;
  font-size: 20px;
  line-height: 27px;
  padding: 14px 30px;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--primary-color);
  margin-left: 20px;
  margin-right: 20px;
}

.btn-branding-outline {
  background: linear-gradient(
    290deg,
    rgb(244, 213, 4) 0%,
    rgb(41, 187, 137) 100%
  );
  border-radius: 33px;
  font-size: 20px;
  line-height: 27px;
  padding: 14px 30px;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--primary-color);
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 48px;
  line-height: 48px !important;
  font-weight: 700;
}

span {
  font-weight: bold;
}

h2,
p {
  font-family: var(--default-font-family);
  font-weight: 500;
}

h2 {
  font-size: 42px;
}

h4 {
  font-size: 48px;
  font-family: var(--heading-font-family);
}

p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

/*Navigation bar*/
.navbar-brand {
  font-family: var(--heading-font-family);
}

.nav-link {
  font-family: var(--default-font-family);
}

.navbar-nav {
  margin-left: auto;
  margin-right: 10px;
  max-width: 60px;
}

/*Hero Slider and Settings*/

.hero-unit {
  background: url("images/creative-agency-widescreen.jpg");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.hero-secondary {
  background: url("images/programmer-working-widescreen.jpg");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.text-background {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  height: 360px;
  padding-top: 20px;
  margin-top: 85px;
}

.text-box {
  margin-top: 40px;
}

/*Header Intro*/
#header-intro {
  margin-top: 65px;
  font-family: var(--heading-font-family);
  font-size: 32px;
  line-height: 42px;
}

/*Directional Arrow*/
#arrow {
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 5px 14px;
  font-size: 32px;
}

/*Get Hired and Hire Talent CTA*/
.about-section {
  padding: 60px 20px 0px 20px;
}

.about-section h1 {
  font-size: 60px;
  line-height: 80px !important;
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.about-content {
  margin: 30px;
}

#about {
  margin-top: 30px;
}

.about-content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0;
  font-family: var(--default-font-family);
}

.element {
  height: 420px;
  width: 420px;
  border-radius: 50%;
  background-color: #e6dd3b;
}

#overlap-1 {
  position: relative;
  top: -186px;
  right: -90px;
}

#overlap {
  position: relative;
  top: -150px;
  text-align: justify;
}

#move-button {
  position: relative;
  top: -146px;
}

/*Company Brands Bar*/
.company-brands {
  max-height: 180px;
  max-width: 100%;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  text-align: center;
  margin: 30px, 30px, 70px, 30px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

/*Join Us Staff Carousel*/
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.45s ease-in-out left;
  -moz-transition: 0.45s ease-in-out left;
  -o-transition: 0.45s ease-in-out left;
  transition: 0.45s ease-in-out left;
}

.framing {
  max-width: 400px;
  max-height: 300px;
  padding-top: 26px;
}

.card-img-top {
  max-width: 90px;
  justify-content: center;
}

#profilecontainer {
  padding-top: 45px;
}

#profilepic {
  max-width: 600px;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-size img {
  max-height: 300px;
  max-width: 400px;
}

i {
  margin-left: 36px;
  margin-right: 36px;
}

/* Responsive Settings */
@media (max-width: 988px) {
  .project-description {
    padding: 0;
    text-align: center;
  }

  .about-section {
    padding: 0;
    text-align: center;
  }
  .btn {
    font-size: 12px;
    line-height: 15px;
    padding: 10px 20px;
  }

  h4 {
    font-size: 26px;
  }
  .about-content h1 {
    font-size: 38px;
  }
}

@media (max-width: 880px) {
  .btn,
  .btn-group {
    width: 35%;
    margin: auto;
  }
  #profilecontainer {
    padding-top: 0px;
    margin-top: -100px;
    margin-bottom: 40px;
  }

  #profile-pic {
    margin: auto;
    width: 90%;
  }
  #overlap-1 {
    margin: none;
    text-align: right;
    right: 0px;
  }
  #move-button {
    top: 0px;
  }
  #about-content-2 {
    margin-bottom: 80px;
  }
}

@media (max-width: 700px) {
  h2,
  h3 {
    font-size: 20px !important;
  }

  h4 {
    font-size: 22px;
  }

  h1 {
    font-size: 38px;
  }

  .hidden {
    display: none;
  }
}
